@use '../variables'; 
// dois pontos e / pq esta saindo da pasta 


.infos-bar {  /* div de toda a caixa*/
    padding: 16px 24px;
    background-color: variables.$fundoCorCaixa;
    display: grid; 
    grid-template-columns: repeat(3, auto);
    

    &__infos{   /* p os itens: local e quando */ 
        display: flex; /* para local e qnd um ao lado do outro */
        justify-content: center;
        gap: 100px;  /* espaçamento entre eles*/
        text-align: center;

        &__item{
            font-size: 16px;
            color:variables.$textColor;

            b {  /* negrito apenas para as palavras local e quando */
                font-size: 18px;
                display: block;
                color:variables.$textColor;
            }
        }
    }
}

@media (max-width: 576px) {    //TELAS MENORES

    .infos-bar {
        grid-template-columns: 1fr;   
        margin: 15px;     
    
        &__infos {
            flex-direction: column;
            gap: 10px;

            &__item{                
                padding-bottom: 20px;
            }
        }
    }
    
}

@media (min-width: 577px) and (max-width: 768px) {  // Telas medias tablets

    .infos-bar {
        margin: 15px;
        grid-template-columns: 1fr;
        align-items: center;        
        justify-items: center;        
        
    
        &__infos {
            gap: 30px;
            
            &__item{
                white-space: nowrap;
                padding-bottom: 20px;
            }
        }    
    }
} 


@media (min-width: 769px) and (max-width: 992px) {  // Telas grandes (desktops)
    .infos-bar {
        grid-template-columns: repeat(2, 1fr);
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center;         
        margin: 0 20px;


        &__infos {
            gap: 80px;
            
            &__item{
                white-space: nowrap;
            }
        }
    }
    
}


@media (min-width: 1200px) { // Telas extra grandes
    .infos-bar {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; 
        grid-template-columns: repeat(3, 1fr);

        &__infos {
            gap: 100px;

            &__item{
                white-space: nowrap;
            }
        }
    }  
}

